{% extends 'layout.html' %}
{% block judul %} Home Jinja {% endblock %}
{% block css %}
<style>
    @keyframes dropFromUp {
    0% {
    transform: translateY(-100%);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
    }
    .drop-from-up.faded {
        opacity: 0;
    }
    .drop-from-up {
        opacity: 1;
        animation: dropFromUp 1s ease-in forwards;
    }

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
{% endblock %}
{% block content %}
<div class="flex flex-col gap-4 justify-center items-center text-center bg-slate-700 text-white h-screen">
    <h1 class="text-9xl">Hello World</h1>
    <p class="text-2xl">This is some example iplement HTMX with Template Engine</p>
    <a href="https://gitlab.com/Nyuuk/example-htmx-flask" class="hover:text-red-500 hover:underline transition duration-300">GitLab</a>
</div>
<div
    class="flex flex-col gap-4 justify-center items-center text-center bg-stone-700 text-white h-screen"
    hx-get="/components/ajax-revealed?htmx=1"
    hx-swap="innerHTML transition:true"
    hx-trigger="revealed"
    >
    <h1 class="text-9xl">HTMX Example</h1>
</div>
<div
    class="flex flex-col gap-4 justify-center items-center text-center h-screen bg-yellow-900 text-white "
>
  <div class="container" id="revealed-element">
    <h1 class="text-9xl">Loading</h1>
  </div>
</div>
<script type="text/javascript">
    let isLoad = 0
    $(function() {
        $('#revealed-element').waypoint(function() {
            if (isLoad == 0) {
                $.ajax({
                    url: '/components/ajax-revealed?htmx=0',
                    success: function(data) {
                        $('#revealed-element').html(data);
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
                isLoad = 1
            }
        }, { offset: '100%' });
    });
</script>
{% endblock %}
