<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block judul %} Home{% endblock %} - Flask Example for HTMX & Jinja
        </title>

        {% block css %} {% endblock %}
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    </head>
    <body
    hx-ext="class-tools"
    >
        {% block content %} {% endblock %}
        {% block script %} {% endblock %}
        <!-- HTMX import -->
        <script src="{{url_for('static',filename='js/htmx.min.js')}}"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/class-tools.js"></script>
    </body>
</html>
