{% if htmx %}
{% if htmx == "1" %}
<div class="drop-from-up">
    <h1 class="text-7xl">HTMX with triger <a href="https://htmx.org/docs/#special-events" class="text-red-500 hover:underline">revealed</a></h1>
    <p class="mt-2 text-2xl">fires once when an element first scrolls into the viewport</p>
    <p class="mt-2 text-base">Set developer mode -> network slow mode to see the effect</p>
</div>
{% elif htmx == "0" %}
<div class="drop-from-up">
    <h1 class="text-7xl">Ajax with triger <a href="https://htmx.org/docs/#special-events" class="text-red-500 hover:underline">revealed</a></h1>
    <p class="mt-2 text-2xl">fires once when an element first scrolls into the viewport</p>
    <p class="mt-2 text-base">Set developer mode -> network slow mode to see the effect</p>
</div>
{% endif %}
{% endif %}